@font-face {
    font-family: 'fancy';
    src: url('/website/fonts/Quintessential-Regular.ttf');
}

.quote-container {
    font-family: fancy, Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    max-width: 520px;
    margin-top: 10rem;
    text-align: left;
    gap: 20px;
}

.quote-attribution {
    font-variant: small-caps;
    font-style: italic;
}

main {
    /* max-width: 500px;  */
    align-self: center;
    text-align: center;
}

h1 {
    font-size: 4em;
}

h1 ~ p {
    font-size: 1.5em;
    max-width: 1000px;
    margin-top: 5rem;
}