th {
    border-bottom: 1px solid black;
    text-align: center;
}

td {
    font-style: italic;
    padding: 2px 1em 2px 1em;
}

#the-button {
    margin-top: 5rem;
    font-size: 24px;
    padding: 2.5rem 5rem;
    font-size: 2.5em;
}

tr:nth-child(even) {
    background-color: lightgrey;
}

table {
    border-bottom: 1px solid black;
}

main {
    background-color: grey;
    /* min-height: 80vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px), (max-height: 400px) {
    #the-button {
        margin-top: 0;
    }

    table {
        display: none;
    }
}