:root {
    font-size: 62.5%;
    padding: 1rem;
}

body {

}



footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gold;
    padding: .5rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer > #repo-link {
    text-align: right;
}

nav.ckh-nav-bar {
    display: inline-flex;
    flex-direction: row;
    align-content: start;
    align-items: center;
    column-gap: .5rem;
    text-align: center;
}

nav.ckh-nav-bar > #brand {
    background-color: gold;
}

.ckh-vert-separator {
    width: 0;
    display: inline;
    border-left: solid 1px black;
    margin: 0 .5rem 0 .5rem;
}

nav.ckh-nav-bar > .ckh-vert-separator {
    align-self: stretch;
}

.ckh-btn {
    border: black solid 2px;
    background-color: aqua;
    border-radius: 10px;
    padding: 5px;
}


@media (max-width: 768px) {
    nav.ckh-nav-bar {
        flex-direction: column;
        row-gap: .25rem;
        align-items: stretch;
    }

    nav.ckh-nav-bar > .ckh-vert-separator {
        display: none;
    }
}