th {
    border-bottom: 1px solid black;
    text-align: left;
}

td {
    font-style: italic;
    padding: 2px 1em 2px 1em;
}

button {
    font-size: 24px;
}

tr:nth-child(even) {
    background-color: lightgrey;
}

table {
    border-bottom: 1px solid black;
}