:root {
    font-size: 62.5%;
    /* padding: 1rem; */
}

.pagebody {
    font-size: 1.6em;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    padding: 1rem 1rem 1rem 1rem;
    background-color: rgb(15, 15, 18);
}

main {
    flex: 1;
    overflow: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

footer {
    background-color: rgb(15, 15, 18);
    padding: .5rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer > #repo-link {
    text-align: right;
    color: darkgrey;
}

footer > #author-name {
    color: darkgrey;
}

#brand {
    font-variant: small-caps;
}

nav.ckh-nav-bar {
    display: inline-flex;
    flex-direction: row;
    align-content: start;
    align-items: center;
    column-gap: .5rem;
    text-align: center;
}

.ckh-vert-separator {
    width: 0;
    display: inline;
    border-left: solid darkgray;
    margin: 0 .5rem 0 .5rem;
}

nav.ckh-nav-bar > .ckh-vert-separator {
    align-self: stretch;
}

.ckh-btn {
    border: #222529 solid 1px;
    background-color:#222529;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    color: lightgrey;
}


@media (max-width: 768px) {
    nav.ckh-nav-bar {
        flex-direction: column;
        row-gap: .25rem;
        align-items: stretch;
    }

    nav.ckh-nav-bar > .ckh-vert-separator {
        display: none;
    }
}